# dependencies
/node_modules

# next.js
/.next/

# production
/build

# env files (can opt-in for committing if needed)
.env*

# typescript
next-env.d.ts
tsconfig.tsbuildinfo

# obsidian
.obsidian/plugins/*/*
!.obsidian/plugins/*/data.json
.obsidian/workspace.json

# Sentry Config File
.env.sentry-build-plugin

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
